body {
    background-color: #202124;
    width: 300px;
    height: 300px;
    text-align: center;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
button:hover {
  background-color: #393a3d;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#settings-container {
  display: flex;
  width:auto;
  align-self:first baseline;
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 15px;
}
#settings-options-list-container {
  padding-right: 10px;
  border-right: 2px solid;
}
#settings-option-display-container {
  margin-left: 10px;
}
#content-frame {
  height: 100%;
  width: 80vw;
}
#settings-options-list {
  list-style: none;
}

.settings-option-button {
  background-color: transparent;
  border-color: transparent;
}
.settings-option-button:hover {
  background-color: #292a2d; 
}
.settings-option-text {
  color: white;
}

#content-frame {
  border-width: 0px;
}

hr {
  width:auto;
}

.container {
    color: #e8eaed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.infoText {
    color: #e8eaed;
    font-size: 14px;
    text-align: center;
}


.listHeader {
    color: #e8eaed;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.listOption {
    color: #e8eaed;
    font-size: 14px;
    text-align: left;
    align-self: left;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switchInfo {
  margin-right: 10px;
}

.switch-label {
  margin-right: 10px; /* Adjust the margin as needed to control the spacing */
}

.switch {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 15px;
  }
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  button#clearAllButton {
      background-color: #4b4d53;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
  }
  
  button#clearAllButton:hover {
      background-color: #292a2d;
  }
  